{% load static %}
{% load i18n %}
<html>
    <head>
        <title>{%  trans "Universidade Nacional Timor Lorosa'e Biblioteka" %}</title>

        <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'idb/lib/idb.js' %}"></script>
        <script type="text/javascript" src="{% static 'dexie/dist/dexie.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap-drawer/dist/js/drawer.min.js' %}"></script>
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

        <script src="/jsreverse/" type="text/javascript"></script>


        {% block script %}
        {% endblock %}
        <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'bootstrap-drawer/dist/css/bootstrap-drawer.min.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'css/site.css' %}" />
        {% block style %}
        {% endblock %}
    </head>

    <body>

        {% block header %}
        {% endblock %}
        <div class="container-fluid">
            <div class="row">
                <div class="col col-xs-12" data-is="organisationlist"/>
            </div>
        </div>
        

        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>

        {% block footer %}
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <p align="center">Copyright The Asia Foundation, UNTL, <a href="http://github.com/joshbrooks">Joshua Brooks</a> 2017</p>
                </div>
            </nav> 
        {% endblock %}


    </body>
</html>
